<section>
  <form action="/apis/user/login" method="post" EncType="application/x-www-form-urlencoded">
    <fieldset>
      <legend>Login form</legend>
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password"/>
      </div>
      <div>
        <input type="submit" value="Login"/>
      </div>
    </fieldset>
  </form>
</section>
<input type="button" value="register" href="/user/register">
